:root {
  --al-color-magenta-50: #fae6ef;
  --al-color-magenta-100: #efb0cd;
  --al-color-magenta-200: #e78ab4;
  --al-color-magenta-300: #db5492;
  --al-color-magenta-400: #d5337d;
  --al-color-magenta-500: #ca005d;
  --al-color-magenta-600: #b80055;
  --al-color-magenta-700: #8f0042;
  --al-color-magenta-800: #6f0033;
  --al-color-magenta-900: #550027;
  --al-color-gold-50: #fff6e6;
  --al-color-gold-100: #ffe2b0;
  --al-color-gold-200: #ffd48a;
  --al-color-gold-300: #ffc054;
  --al-color-gold-400: #ffb433;
  --al-color-gold-500: #ffa100;
  --al-color-gold-600: #e89300;
  --al-color-gold-700: #b57200;
  --al-color-gold-800: #8c5900;
  --al-color-gold-900: #6b4400;
  --al-color-neutral-50: #f5f6f8;
  --al-color-neutral-100: #dfe2e8;
  --al-color-neutral-200: #cfd5dd;
  --al-color-neutral-300: #b9c1ce;
  --al-color-neutral-400: #acb5c5;
  --al-color-neutral-500: #97a3b6;
  --al-color-neutral-600: #8994a6;
  --al-color-neutral-700: #6b7481;
  --al-color-neutral-800: #535a64;
  --al-color-neutral-900: #3f444c;
  --al-color-green-50: #e6f3ea;
  --al-color-green-100: #b0d9bc;
  --al-color-green-200: #8ac69c;
  --al-color-green-300: #54ad6f;
  --al-color-green-400: #339d53;
  --al-color-green-500: #008428;
  --al-color-green-600: #007824;
  --al-color-green-700: #005e1c;
  --al-color-green-800: #004916;
  --al-color-green-900: #003711;
  --al-color-blue-50: #e6f3fa;
  --al-color-blue-100: #b0daef;
  --al-color-blue-200: #8ac8e7;
  --al-color-blue-300: #55afdc;
  --al-color-blue-400: #349fd5;
  --al-color-blue-500: #0187cb;
  --al-color-blue-600: #017bb9;
  --al-color-blue-700: #016090;
  --al-color-blue-800: #014a70;
  --al-color-blue-900: #003955;
  --al-color-orange-50: #fff0e6;
  --al-color-orange-100: #ffd1b0;
  --al-color-orange-200: #ffba8a;
  --al-color-orange-300: #ff9b54;
  --al-color-orange-400: #ff8733;
  --al-color-orange-500: #ff6900;
  --al-color-orange-600: #e86000;
  --al-color-orange-700: #b54b00;
  --al-color-orange-800: #8c3a00;
  --al-color-orange-900: #6b2c00;
  --al-color-red-50: #fce9e9;
  --al-color-red-100: #f7bbbb;
  --al-color-red-200: #f39b9b;
  --al-color-red-300: #ed6d6d;
  --al-color-red-400: #e95151;
  --al-color-red-500: #e42525;
  --al-color-red-600: #cf2222;
  --al-color-red-700: #a21a1a;
  --al-color-red-800: #7d1414;
  --al-color-red-900: #601010;
  --al-color-black-0: #ffffff;
  --al-color-black-100: #f3f3f6;
  --al-color-black-200: #dce0e5;
  --al-color-black-300: #7e8287;
  --al-color-black-400: #656970;
  --al-color-black-500: #222d42;
  --al-color-black-600: #1f293c;
  --al-color-black-700: #18202f;
  --al-color-black-800: #131924;
  --al-color-black-900: #0e131c;
  --al-font-family-primary: BreeCF;
  --al-font-family-secondary: Amor Sans;
  --al-font-size-sm: 10px;
  --al-font-size-md: 12px;
  --al-font-size-xl: 16px;
  --al-font-size-lg: 14px;
  --al-font-size-3xl: 20px;
  --al-font-size-2xl: 18px;
  --al-font-size-5xl: 28px;
  --al-font-size-4xl: 24px;
  --al-font-size-6xl: 32px;
  --al-font-size-7xl: 40px;
  --al-font-size-display: 56px;
  --al-font-size-giant: 72px;
  --al-font-size-8xl: 48px;
  --al-font-size-xs: 8px;
  --al-font-weight-light: 300;
  --al-font-weight-regular: 500;
  --al-font-weight-bold: 800;
  --al-font-letter-spacing-base: 0;
  --al-font-letter-spacing-half: 0.75;
  --al-font-letter-spacing-long: 1;
  --al-font-letter-spacing-short: 0.5;
  --al-font-line-height-base: 100%;
  --al-font-line-height-near: 120%;
  --al-font-line-height-short: 125%;
  --al-font-line-height-half: 150%;
  --al-font-line-height-long: 200%;
  --al-font-text-decoration-none: none;
  --al-font-text-decoration-underline: underline;
  --al-border-style-none: none;
  --al-border-style-solid: solid;
  --al-border-style-dashed: dashed;
  --al-border-width-none: 0px;
  --al-border-width-thin: 1px;
  --al-border-width-regular: 2px;
  --al-border-width-thick: 3px;
  --al-border-radius-square: 0px;
  --al-border-radius-sm: 4px;
  --al-border-radius-md: 8px;
  --al-border-radius-lg: 16px;
  --al-border-radius-xl: 24px;
  --al-border-radius-pill: 56px;
  --al-border-radius-circle: 500px;
  --al-space-sm: 2px;
  --al-space-md: 4px;
  --al-space-lg: 8px;
  --al-space-xl: 12px;
  --al-space-2xl: 16px;
  --al-space-3xl: 24px;
  --al-space-4xl: 32px;
  --al-space-5xl: 40px;
  --al-space-6xl: 48px;
  --al-space-7xl: 56px;
  --al-space-8xl: 64px;
  --al-size-icon-sm: 12px;
  --al-size-icon-md: 16px;
  --al-size-icon-lg: 20px;
  --al-size-icon-xl: 24px;
  --al-size-icon-2xl: 32px;
  --al-size-icon-3xl: 40px;
  --sp-color-background-subtle: var(--al-color-neutral-50);
  --sp-color-background-lightest: var(--al-color-black-0);
  --sp-color-background-darkest: var(--al-color-black-900);
  --sp-color-text-dark: var(--al-color-black-500);
  --sp-color-text-medium: var(--al-color-black-300);
  --sp-color-text-lightest: var(--al-color-black-0);
  --sp-color-text-subtle: var(--al-color-neutral-600);
  --sp-color-text-strong: var(--al-color-neutral-800);
  --sp-color-text-disable: var(--al-color-neutral-500);
  --sp-color-text-accent: var(--al-color-gold-600);
  --sp-color-text-brand-extreme: var(--al-color-magenta-700);
  --sp-color-text-brand-strong: var(--al-color-magenta-600);
  --sp-color-text-brand-medium: var(--al-color-magenta-500);
  --sp-color-text-feedback-success: var(--al-color-green-600);
  --sp-color-text-feedback-warning: var(--al-color-orange-700);
  --sp-color-text-feedback-critical: var(--al-color-red-600);
  --sp-color-text-feedback-informative: var(--al-color-blue-600);
  --sp-color-surface-feedback-success-strong: var(--al-color-green-500);
  --sp-color-surface-feedback-success-subtle: var(--al-color-green-50);
  --sp-color-surface-feedback-critical-strong: var(--al-color-red-500);
  --sp-color-surface-feedback-critical-subtle: var(--al-color-red-50);
  --sp-color-surface-feedback-warning-strong: var(--al-color-orange-500);
  --sp-color-surface-feedback-warning-subtle: var(--al-color-orange-50);
  --sp-color-surface-feedback-informative-strong: var(--al-color-blue-500);
  --sp-color-surface-feedback-informative-subtle: var(--al-color-blue-50);
  --sp-color-surface-brand-strong: var(--al-color-magenta-600);
  --sp-color-surface-brand-medium: var(--al-color-magenta-500);
  --sp-color-surface-brand-subtle: var(--al-color-magenta-50);
  --sp-color-surface-brand-extreme: var(--al-color-magenta-700);
  --sp-color-surface-accent-strong: var(--al-color-gold-600);
  --sp-color-surface-accent-medium: var(--al-color-gold-500);
  --sp-color-surface-accent-extreme: var(--al-color-gold-700);
  --sp-color-surface-accent-subtle: var(--al-color-gold-50);
  --sp-color-surface-opacity-subtle: #ffffff40;
  --sp-color-surface-opacity-hover: #ffffff1a;
  --sp-color-surface-subtle: var(--al-color-neutral-50);
  --sp-color-surface-lightest: var(--al-color-black-0);
  --sp-color-surface-disable-inverse: var(--al-color-black-200);
  --sp-color-surface-disable: var(--al-color-black-100);
  --sp-color-surface-medium: var(--al-color-neutral-400);
  --sp-color-surface-dark: var(--al-color-black-500);
  --sp-color-border-feedback-success: var(--al-color-green-500);
  --sp-color-border-feedback-critical: var(--al-color-red-500);
  --sp-color-border-brand-strong: var(--al-color-magenta-700);
  --sp-color-border-brand-medium: var(--al-color-magenta-500);
  --sp-color-border-focus: var(--al-color-gold-500);
  --sp-color-border-dark: var(--al-color-black-500);
  --sp-color-border-medium: var(--al-color-neutral-500);
  --sp-color-border-disable: var(--al-color-neutral-300);
  --sp-color-border-subtle: var(--al-color-black-100);
  --sp-color-border-light: var(--al-color-neutral-50);
  --sp-color-border-lightest: var(--al-color-black-0);
  --sp-color-border-strong: var(--al-color-neutral-800);
  --sp-color-border-accent-medium: var(--al-color-gold-500);
  --sp-color-border-accent-extreme: var(--al-color-gold-700);
  --sp-color-icon-darkest: var(--al-color-black-900);
  --sp-color-icon-dark: var(--al-color-black-500);
  --sp-color-icon-strong: var(--al-color-neutral-800);
  --sp-color-icon-disable: var(--al-color-neutral-300);
  --sp-color-icon-medium: var(--al-color-black-300);
  --sp-color-icon-lightest: var(--al-color-black-0);
  --sp-color-icon-disable-inverse: var(--al-color-neutral-500);
  --sp-color-icon-accent-strong: var(--al-color-gold-600);
  --sp-color-icon-accent-medium: var(--al-color-gold-500);
  --sp-color-icon-brand-strong: var(--al-color-magenta-600);
  --sp-color-icon-brand-subtle: var(--al-color-magenta-100);
  --sp-color-icon-brand-extreme: var(--al-color-magenta-700);
  --sp-color-icon-brand-medium: var(--al-color-magenta-500);
  --sp-color-icon-feedback-success: var(--al-color-green-600);
  --sp-color-icon-feedback-warning: var(--al-color-orange-700);
  --sp-color-icon-feedback-critical: var(--al-color-red-600);
  --sp-color-icon-feedback-informative: var(--al-color-blue-700);
  --sp-color-icon-subtle: var(--al-color-neutral-500);
  --sp-text-title-giant-font-family: var(--al-font-family-primary);
  --sp-text-title-giant-font-weight: var(--al-font-weight-bold);
  --sp-text-title-giant-line-height: var(--al-font-line-height-short);
  --sp-text-title-giant-font-size: var(--al-font-size-giant);
  --sp-text-title-giant-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-title-giant-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-title-display-font-family: var(--al-font-family-primary);
  --sp-text-title-display-font-weight: var(--al-font-weight-bold);
  --sp-text-title-display-line-height: var(--al-font-line-height-short);
  --sp-text-title-display-font-size: var(--al-font-size-giant);
  --sp-text-title-display-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-title-display-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-title-7x-font-family: var(--al-font-family-primary);
  --sp-text-title-7x-font-weight: var(--al-font-weight-bold);
  --sp-text-title-7x-line-height: var(--al-font-line-height-short);
  --sp-text-title-7x-font-size: var(--al-font-size-7xl);
  --sp-text-title-7x-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-title-7x-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-title-6x-regular-font-family: var(--al-font-family-primary);
  --sp-text-title-6x-regular-font-weight: var(--al-font-weight-regular);
  --sp-text-title-6x-regular-line-height: var(--al-font-line-height-short);
  --sp-text-title-6x-regular-font-size: var(--al-font-size-6xl);
  --sp-text-title-6x-regular-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-title-6x-regular-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-title-6x-font-family: var(--al-font-family-primary);
  --sp-text-title-6x-font-weight: var(--al-font-weight-bold);
  --sp-text-title-6x-line-height: var(--al-font-line-height-short);
  --sp-text-title-6x-font-size: var(--al-font-size-6xl);
  --sp-text-title-6x-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-title-6x-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-title-5x-font-family: var(--al-font-family-primary);
  --sp-text-title-5x-font-weight: var(--al-font-weight-bold);
  --sp-text-title-5x-line-height: var(--al-font-line-height-short);
  --sp-text-title-5x-font-size: var(--al-font-size-5xl);
  --sp-text-title-5x-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-title-5x-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-title-4x-regular-font-family: var(--al-font-family-primary);
  --sp-text-title-4x-regular-font-weight: var(--al-font-weight-regular);
  --sp-text-title-4x-regular-line-height: var(--al-font-line-height-base);
  --sp-text-title-4x-regular-font-size: var(--al-font-size-4xl);
  --sp-text-title-4x-regular-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-title-4x-regular-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-title-3x-font-family: var(--al-font-family-primary);
  --sp-text-title-3x-font-weight: var(--al-font-weight-bold);
  --sp-text-title-3x-line-height: var(--al-font-line-height-short);
  --sp-text-title-3x-font-size: var(--al-font-size-3xl);
  --sp-text-title-3x-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-title-3x-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-title-3x-regular-font-family: var(--al-font-family-primary);
  --sp-text-title-3x-regular-font-weight: var(--al-font-weight-regular);
  --sp-text-title-3x-regular-line-height: var(--al-font-line-height-short);
  --sp-text-title-3x-regular-font-size: var(--al-font-size-3xl);
  --sp-text-title-3x-regular-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-title-3x-regular-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-title-2x-font-family: var(--al-font-family-primary);
  --sp-text-title-2x-font-weight: var(--al-font-weight-bold);
  --sp-text-title-2x-line-height: var(--al-font-line-height-short);
  --sp-text-title-2x-font-size: var(--al-font-size-2xl);
  --sp-text-title-2x-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-title-2x-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-title-2x-regular-font-family: var(--al-font-family-primary);
  --sp-text-title-2x-regular-font-weight: var(--al-font-weight-regular);
  --sp-text-title-2x-regular-line-height: var(--al-font-line-height-short);
  --sp-text-title-2x-regular-font-size: var(--al-font-size-2xl);
  --sp-text-title-2x-regular-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-title-2x-regular-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-title-xl-font-family: var(--al-font-family-primary);
  --sp-text-title-xl-font-weight: var(--al-font-weight-bold);
  --sp-text-title-xl-line-height: var(--al-font-line-height-short);
  --sp-text-title-xl-font-size: var(--al-font-size-xl);
  --sp-text-title-xl-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-title-xl-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-title-xl-regular-font-family: var(--al-font-family-primary);
  --sp-text-title-xl-regular-font-weight: var(--al-font-weight-regular);
  --sp-text-title-xl-regular-line-height: var(--al-font-line-height-short);
  --sp-text-title-xl-regular-font-size: var(--al-font-size-xl);
  --sp-text-title-xl-regular-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-title-xl-regular-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-paragraph-6xl-font-family: var(--al-font-family-primary);
  --sp-text-paragraph-6xl-font-weight: var(--al-font-weight-light);
  --sp-text-paragraph-6xl-line-height: var(--al-font-line-height-short);
  --sp-text-paragraph-6xl-font-size: var(--al-font-size-6xl);
  --sp-text-paragraph-6xl-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-paragraph-6xl-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-paragraph-5xl-font-family: var(--al-font-family-primary);
  --sp-text-paragraph-5xl-font-weight: var(--al-font-weight-light);
  --sp-text-paragraph-5xl-line-height: var(--al-font-line-height-short);
  --sp-text-paragraph-5xl-font-size: var(--al-font-size-5xl);
  --sp-text-paragraph-5xl-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-paragraph-5xl-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-paragraph-4xl-font-family: var(--al-font-family-primary);
  --sp-text-paragraph-4xl-font-weight: var(--al-font-weight-light);
  --sp-text-paragraph-4xl-line-height: var(--al-font-line-height-short);
  --sp-text-paragraph-4xl-font-size: var(--al-font-size-4xl);
  --sp-text-paragraph-4xl-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-paragraph-4xl-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-paragraph-3xl-font-family: var(--al-font-family-primary);
  --sp-text-paragraph-3xl-font-weight: var(--al-font-weight-light);
  --sp-text-paragraph-3xl-line-height: var(--al-font-line-height-short);
  --sp-text-paragraph-3xl-font-size: var(--al-font-size-3xl);
  --sp-text-paragraph-3xl-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-paragraph-3xl-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-paragraph-2xl-font-family: var(--al-font-family-primary);
  --sp-text-paragraph-2xl-font-weight: var(--al-font-weight-light);
  --sp-text-paragraph-2xl-line-height: var(--al-font-line-height-short);
  --sp-text-paragraph-2xl-font-size: var(--al-font-size-2xl);
  --sp-text-paragraph-2xl-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-paragraph-2xl-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-paragraph-xl-font-family: var(--al-font-family-primary);
  --sp-text-paragraph-xl-font-weight: var(--al-font-weight-light);
  --sp-text-paragraph-xl-line-height: var(--al-font-line-height-short);
  --sp-text-paragraph-xl-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-paragraph-xl-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-paragraph-xl-font-size: var(--al-font-size-xl);
  --sp-text-paragraph-xl-regular-font-family: var(--al-font-family-primary);
  --sp-text-paragraph-xl-regular-font-weight: var(--al-font-weight-regular);
  --sp-text-paragraph-xl-regular-line-height: var(--al-font-line-height-short);
  --sp-text-paragraph-xl-regular-font-size: var(--al-font-size-xl);
  --sp-text-paragraph-xl-regular-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-paragraph-xl-regular-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-paragraph-lg-font-family: var(--al-font-family-primary);
  --sp-text-paragraph-lg-font-weight: var(--al-font-weight-regular);
  --sp-text-paragraph-lg-line-height: var(--al-font-line-height-short);
  --sp-text-paragraph-lg-font-size: var(--al-font-size-lg);
  --sp-text-paragraph-lg-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-paragraph-lg-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-label-5xl-font-family: var(--al-font-family-primary);
  --sp-text-label-5xl-font-weight: var(--al-font-weight-regular);
  --sp-text-label-5xl-line-height: var(--al-font-line-height-base);
  --sp-text-label-5xl-font-size: var(--al-font-size-5xl);
  --sp-text-label-5xl-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-label-5xl-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-label-3xl-font-family: var(--al-font-family-primary);
  --sp-text-label-3xl-font-weight: var(--al-font-weight-regular);
  --sp-text-label-3xl-line-height: var(--al-font-line-height-base);
  --sp-text-label-3xl-font-size: var(--al-font-size-3xl);
  --sp-text-label-3xl-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-label-3xl-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-label-2xl-font-family: var(--al-font-family-primary);
  --sp-text-label-2xl-font-weight: var(--al-font-weight-regular);
  --sp-text-label-2xl-line-height: var(--al-font-line-height-near);
  --sp-text-label-2xl-font-size: var(--al-font-size-2xl);
  --sp-text-label-2xl-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-label-2xl-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-label-xl-font-family: var(--al-font-family-primary);
  --sp-text-label-xl-font-weight: var(--al-font-weight-regular);
  --sp-text-label-xl-line-height: var(--al-font-line-height-base);
  --sp-text-label-xl-font-size: var(--al-font-size-xl);
  --sp-text-label-xl-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-label-xl-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-label-xl-underline-font-family: var(--al-font-family-primary);
  --sp-text-label-xl-underline-font-weight: var(--al-font-weight-regular);
  --sp-text-label-xl-underline-line-height: var(--al-font-line-height-base);
  --sp-text-label-xl-underline-font-size: var(--al-font-size-xl);
  --sp-text-label-xl-underline-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-label-xl-underline-text-decoration: var(--al-font-text-decoration-underline);
  --sp-text-label-lg-underline-font-family: var(--al-font-family-primary);
  --sp-text-label-lg-underline-font-weight: var(--al-font-weight-light);
  --sp-text-label-lg-underline-line-height: var(--al-font-line-height-base);
  --sp-text-label-lg-underline-font-size: var(--al-font-size-lg);
  --sp-text-label-lg-underline-letter-spacing: var(--al-font-letter-spacing-half);
  --sp-text-label-lg-underline-text-decoration: var(--al-font-text-decoration-underline);
  --sp-text-label-lg-light-font-family: var(--al-font-family-primary);
  --sp-text-label-lg-light-font-weight: var(--al-font-weight-light);
  --sp-text-label-lg-light-line-height: var(--al-font-line-height-base);
  --sp-text-label-lg-light-font-size: var(--al-font-size-lg);
  --sp-text-label-lg-light-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-label-lg-light-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-label-lg-font-family: var(--al-font-family-primary);
  --sp-text-label-lg-font-weight: var(--al-font-weight-regular);
  --sp-text-label-lg-line-height: var(--al-font-line-height-base);
  --sp-text-label-lg-font-size: var(--al-font-size-lg);
  --sp-text-label-lg-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-label-lg-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-label-md-font-family: var(--al-font-family-primary);
  --sp-text-label-md-font-weight: var(--al-font-weight-regular);
  --sp-text-label-md-line-height: var(--al-font-line-height-base);
  --sp-text-label-md-font-size: var(--al-font-size-md);
  --sp-text-label-md-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-label-md-text-decoration: var(--al-font-text-decoration-none);
  --sp-text-label-sm-font-family: var(--al-font-family-primary);
  --sp-text-label-sm-font-weight: var(--al-font-weight-regular);
  --sp-text-label-sm-line-height: var(--al-font-line-height-base);
  --sp-text-label-sm-font-size: var(--al-font-size-sm);
  --sp-text-label-sm-letter-spacing: var(--al-font-letter-spacing-base);
  --sp-text-label-sm-text-decoration: var(--al-font-text-decoration-none);}