.App {
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  display: flex;
  padding: var(--al-space-8xl) 96px;
  justify-content: center;
  align-items: flex-start;
  gap: var(--al-space-5xl);
  align-self: stretch;

  border-bottom: var(--al-border-width-thick) solid
    var(--sp-color-border-brand-strong);
  background: var(--sp-color-surface-brand-subtle);
}

.header span {
  color: var(--sp-color-text-brand-strong);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--al-space-8xl);
}

.btn-primary {
  display: flex;
  padding: var(--al-space-2xl) var(--al-space-6xl);
  justify-content: center;
  align-items: center;
  gap: var(--al-space-md);
  

  border-radius: var(--al-border-radius-md);
  background: var(--sp-color-surface-brand-medium);

  color: var(--sp-color-text-lightest);
}

.btn-secondary {
  height: 48px;
  display: inline-flex;
  padding: var(--al-space-2xl) var(--al-space-6xl);
  justify-content: center;
  align-items: center;
  gap: var(--al-space-md);

  border-radius: var(--al-border-radius-md);
  border: var(--al-border-width-thin) solid var(--sp-color-border-brand-medium);
  background: var(--sp-color-surface-lightest);

  color: var(--sp-color-text-brand-medium);
}

.input-default {
  display: inline-flex;
  min-width: 220px;
  min-height: 48px;
  padding: var(--al-space-xl) var(--al-space-2xl);
  align-items: center;

  border-radius: var(--al-border-radius-md);
  border: var(--al-border-width-thin) solid var(--sp-color-border-strong);
  background: var(--sp-color-surface-lightest);

  color: var(--sp-color-text-medium);
}
