.App {
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  display: flex;
  padding: var(--al-space-8xl) 96px;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;

  gap: var(--al-space-5xl);
  align-self: stretch;

  border-bottom: var(--al-border-width-thick) solid
    var(--sp-color-border-brand-strong);
  background: var(--sp-color-surface-brand-subtle);
}
.box{
  margin: 40px;
  width: 400px;
  height: 400px;
  /* background-color: var(--sp-color-surface-accent-medium); */
  color: var(--sp-color-text-accent);
  border-style: var(--al-border-style-dashed);
  border-width: var(--al-border-width-thick);
  border-color: var(--sp-color-border-brand-strong);
  /* border: 2px dashed red; */
}
.header span {
  color: var(--sp-color-text-brand-strong);
}

@media (min-width: 1536px) {
  .container {
      max-width: 100%;
  }
}
